body {
    background-color: rgb(17, 18, 20);
}

table, th, td {
    border: 2px solid rgb(32, 32, 36);
    border-collapse: collapse;
    color: gray;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    border: 2px inset rgb(32, 32, 36);
    border-radius: 4px;
    color: gray;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

    .button:hover {
        color: #202124;
    }

    .button:focus {
        border-color: #4285f4;
        outline: none;
    }